* {
  margin:0;
  box-sizing:border-box;
  font-family:sans-serif;
}
    body{
  background-color:rgb(199, 103, 204);  
}

header {
  top:0;
  left:0;
  position:fixed;
  background-color:yellow;
  width:100%;
  padding:15px 10%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
nav a{
  margin-left:20px;
  text-decoration:none;
  color:black;
  font-size:17px;
  font-weight:500;
}
.name{
  font-size:20px;
  color:rgb(177, 21, 177);
  font-weight:800;
}

nav a:hover{

  background-color:aqua;
  color:black;
}
.home{
  height:100vh;
  display:flex;
  align-items:center;
  padding:0 24%;  
}
.home-content{
  max-width:600px;
}
.home-content h1{
  color:rgb(222, 65, 65);
  font-size:30px;
}
.home-content h3{
  color:black;
  font-size: 17px;
}
 .home-content p{
  font-size:20px;
  color:rgb(169, 61, 61);
}

img{
  width: 200px;
  height: 200px;
  position:right;
  top: 50px;
  right: 2600px;
  border-radius: 50%;

}